/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #455A64;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #FCF9F2;
  opacity: .5;
  border: 1px solid #FCF9F2;
  border-radius: 2px;
}

.btn{
  opacity: 1;
  background: transparent;
  border: 1px solid #FCF9F2;
  border-radius: 2px;
  color: #FCF9F2;

}

.modal-body {
    background:url("../assets/images/modal.jpg") center center;
    background-size: cover;

}

#myModal {
    background:url("../assets/images/blurry_mod.jpg") center center;
    height: 100%;
    width: 100%;
    background-size: cover;

}


#modal-title {
  color:#FCF9F2;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background:url("../assets/images/mod.jpg") center center;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;

}
body {
  color: #FCF9F2;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.cover-heading {
  font-size: 45px;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #F4EAD5; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #FCF9F2;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #FCF9F2;
  border-bottom-color: #FCF9F2;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}



.modal-body {
  background-color: #FCF9F2;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

 .modal-header{
    background:url("../assets/images/modal_top.jpg");
    background-size: cover;
    background-repeat: no-repeat;


 }

.modal-header{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

}

.modal-footer{
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

}
